@model Kuttypayan.Web.Models.EmployeeModel

<br />
<br />
<br />
<br />
<br />
@{if (@Model.SearchResult != string.Empty)
{
      @Html.Raw(@Model.SearchResult)
 
}
}




@*@{if (@Model.EmployeeList != null)
{
    <table>
        <tr>
            <td>EmpId</td>
            <td>EmpName</td>
            <td>EmpDesig</td>
            <td>EmpAddress</td>
        </tr>


        @foreach (var v in @Model.EmployeeList)
        {
        <tr>
            <td>
                @v.EmpId
            </td>
            <td>
                @v.EmpName
            </td>
            <td> @v.EmpDesig </td>
            <td>@v.EmpAddress </td>

        </tr>
        }
    </table>
}
}*@



